/*font-family: 'Nunito', sans-serif;*/


body{
    color: black;
    background-color: #FEFEFE;
    display: grid;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1920px)
{
    html {
        font-size:100%;
        /* 1rem = 12pt = 16px = 100% */
      }

    .phone{
        padding: 1.875rem 1.875rem 6.25rem 1.875rem ;
    }

    .full-size-map {
        justify-content: normal;
    }

    header nav a {
        font-size: 0.700rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        color: #747474;
        text-decoration: none;
        margin: 0rem 0.5rem;
        opacity: 0.6;
        transition: 0.3s;
        
    }

    header>nav>a:hover {opacity: 1;}


    h1{
        font-size: 1.75rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        color:#105685
    }

    h2{
        font-size: 0.625rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        color: #747474;
    }

    p.personalDescription{
        font-size: 0.6875rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color: #747474;
        margin-top: 1rem;
        margin-bottom: 2rem
    }

    section{
        border-radius: 5px;
        display: block;
        height: auto;
        width: auto;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        padding-top: 0.5rem;
        background-color: white;
    }
    
    body > main > section > li{
        list-style: none;
    }

    body > main > section > li > ul{
        padding: 0rem;
        margin: 0rem;
        padding-bottom: 0.1rem;
        display: flex;
        justify-content: start;
        border-bottom: 0.5px solid #DFDFDF;

    }

    body > main > section > li > ul > a {
        text-decoration: none;
        display: flex;
        align-items: center;
        flex: 1;
        transition: 0.3s;
    }


    body > main > section > li > ul > a:hover {opacity: 1;}

    body > main > section > li > ul > a:not(:hover) {opacity: 0.8;}

    body > main > section > li > ul > a> img{
        height: 3rem;
        width: auto;
        margin: 0.5rem;
        margin-left: 0.1rem;
    }

    body > main > section  li > ul > a > span{
        text-decoration: none;
        font-size: 0.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #747474;
    }

    .hero {
        background: url("../img/hero.jpg") no-repeat center fixed;
        margin:0;
        padding:0;
        padding-bottom: 50px;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */ 
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .button {
        width: 15vw;
    }

}